/* HERO SECTION */

#hero {
	background: url('assets/img/hero--bg3.jpg') -120px 0 no-repeat;
	background-size: cover;
  margin: 0;

     @include maxv(992)  {
          min-height: 400px;
     }
      @include maxv(768)  {
            background: url(assets/img/hero--bg3.jpg) -250px 0 no-repeat;
            background-size: cover;
            min-height: 400px;
            margin-top: 0;
      }
      @include maxv(480)  {
            background: url(assets/img/hero--bg3.jpg) -270px 0 no-repeat;
            background-size: cover;
            min-height: 400px;
            margin-top: 55px;
      }
     h1 {
          margin-top: 2em;
          text-align: right;
          color: #000;
            @include maxv(992)  {
               margin-top: 1em;
            }
            @include maxv(768)  {
                margin-top: 50px;
                line-height: 1;
            }
            @include maxv(480)  {
                margin-top: -60px;
                line-height: 1;
            }
          .top {
               margin-top: 2em;
               font-family: $font--bariol-li;
               display: none;
               animation-delay: 1s;
               color: $orange;

                @include maxv(992)  {
                   margin-top: 1em;
                }
                 @include maxv(768)  {
                        margin-top: 1em;
                        font-size: 0.7em;
                }
                @include maxv(320)  {
                  font-size: 0.6em;
                }
          }
       	.caps {
            font-family: $font--bariolbold;
            text-transform: uppercase;
            font-size: 1.4em;
            display: none;
            margin-top: 20px;
            animation-delay: 2s;
            color: $navy;

              @include maxv(768)  {
                  margin-top: 0.5em;
                  font-size: 1.1em;
              }
              @include maxv(375)  {
                  margin-top: 0;
                    font-size: 1em;
              }
              @include maxv(320)  {
                  font-size: 0.8em;
              }

       	}
     }
     h2 {
        display: none;
        text-align: right;
        color: $navy;
        animation-delay: 3.5s;
        font-size: 1.6em;
        font-family: $font--bariolregular;

        @include maxv(768)  {
            width: 65%;
            margin-left: 35%;
            font-size: 1.2em;
            line-height: 1.3;
        }
        @include maxv(375)  {
           font-size: 0.98em;
        }
        @include maxv(320)  {
           font-size: 0.9em;
         }

       	span {
       		display: block;
       	}
     }
	@media ( min-width: 992px) {
			min-height: 550px;
	}
}
#signup {
     padding: $xtb-pad;
     margin: 0;
     background: $navy;

     .module {
         &__heading, 
         &__subheading {
               color: #fff;
               text-align: center;
          }
          &__heading {
               margin: 0;
               text-transform: capitalize;
               font-family: $font--bariolbold;
               font-size: 2.3em;
               line-height: 1;

                  @include maxv(768)  {
                    font-size: 2em;
                  }
               &--caps {
                    color: $orange;
                    text-transform: uppercase;
               }
          }
          &__subheading {
               margin: 0 0 10px 0;
               font-size: 1.42em;
               font-family: $font--bariol-light;
                  @include maxv(768)  {
                        font-size: 1.3em;
                        line-height: 1;
                  }
          }
     }

}

#projects {
     padding: $stb-pad;
     margin: 0;
         @include maxv(320)  {
           padding: $xtb-pad;
         }
     .module {
          &__heading {
               margin: 0 0 25px 0;
               text-align: center;
               text-transform: capitalize;
               font-family: $font--bariolbold;
               font-size: 2em;
      
          }
          
          
     }
     .project {

               display: block;
               padding: 0 0 30px 0;
     }
}
#featured {
     padding: $stb-pad;
     margin: 0;
     background: #faf9f8;
     .module {
          &__heading {
               text-align: center;
               font-family: $font--bariolbold;
               font-size: 2em;
               margin: 0 0 25px 0;
          }
     }
}
#video {
     padding: 2em 0 0 0; 
     margin: 0;
     .module {

          &__heading {
               margin: 0;
               text-align: center;
               font-family: $font--bariolbold;
               font-size: 2em;
          }
          &__subheading {
               text-align: center;
               font-size: 1.4em;
               margin: 0 0 25px 0;
               color: $navy;
          } 
          &__player {
               overflow: hidden;
               position: relative;
/*               margin-top: 2rem;
               padding-top: 25%;*/
               background: #f5f5f5;
          }   
     }
}
#featured-blogs {
     padding: 2em 0 2em 0;
     margin: 0;
     background: #faf9f8;
     .module {

          &__heading {
               margin: 0 0 25px 0;
               text-align: center;
               text-transform: capitalize;
               font-family: $font--bariolbold;
               font-size: 2em;
      
          }

          &__button {
               margin-top: 2em;
               text-align: center;

               &--link {
                    display: inline-block;
                    position: relative;
                    padding: 0.8em 1.2em;
                    font-family: $font--bariolregular;
                    background: $orange;
                    border-radius: 50px;
                    font-size: 1.2em;
                    overflow: hidden;
                    color: #fff;
                    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.4);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    z-index: 2;

                   &:after {
                       content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $navy;
                        transform: translateY(-100%);
                        z-index: -1;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                   }
                   &:hover {
                      text-decoration: none;
                      box-shadow: none;
                      background-color: $navy;

                      &:after { 
                         transform: translateY(0%);
                      }
                   }
               }
          }
          
          
     }
     .col-custom {
      margin-bottom: 30px;
     }
     .blog {
          display: block;

          &__panel {
               border: 1px solid #efecec;
               background: #fff;
               box-shadow: 0 2px 15px #eae7e7;
               -webkit-transition: all 0.5s ease;
               transition: all 0.5s ease;
          }
          &__title {
               margin: 0;
               padding: 0.8em .5em;
               min-height: 4.2em;
               font-size: 1.5em;
               font-family: $font--bariolbold;
               text-transform: capitalize;
               color: $navy;
               -webkit-transition: all 0.5s ease;
               transition: all 0.5s ease;
               text-align: left;

          }
          &:hover,
          &:focus {
               text-decoration: none;
               &__panel {
                    box-shadow: none;
               }
               h3 {
                    color: $orange;
               }
          }
     }
}
#testimonials {
      padding: $stb-pad;
      margin: 0;
      .module {
      }
      .testimonial {
          &__image {
              @include maxv(992)  {
                margin-bottom: 10px;
              }
               img {
                   display: block;
                   border-radius: 50%;

                   @include maxv(992)  {
                      margin: 0 auto;
                      width: 135px;
                   }
               }
          }
          &__quote {
                p {
                      font-family: $font--bariolregular;
                      font-size: 1.5em;
                      line-height: 1.3;
                      color: $navy;
                      margin: 0 0 0.8em 0;
                      @include maxv(992)  {
                          font-size: 1.3em;
                          text-align: center;
                          
                       }
                }
          }

          &__name {
               font-family: $font--avenir-b;
               font-size: 1.3em;
               color: $orange;
               text-transform: uppercase;
               font-style: normal;
                   @include maxv(992)  {
                      font-size: 1em;
                      display: block;
                      text-align: center;
                   }               
          }
          &__subtitle {
               font-family: $font--avenir;
               color: $orange;
                   @include maxv(992)  {
                      font-size: 1em;
                      display: block;
                      margin: 0 20px;
                      text-align: center;
                      
                   }               
          }
          &__attribution {
               @include maxv(768)  {
     
                  
               }      
          }

          .slick-prev {
            @include maxv(768)  {
              left: 5%;
            }
          }
          .slick-next {
             @include maxv(768)  {
              right: 5%;
            }
          }

      }
}
#other-projects {
     padding: $stb-pad;
     margin: 0;
     border-bottom: 1px solid #f1f0f0;
     background: #faf9f8;

     .module {
          &__heading {
               margin: 0 0 25px 0;
               text-align: center;
               text-transform: capitalize;
               font-family: $font--bariolbold;
               font-size: 2em;

          }
     }
}
#next-step {
     padding: $stb-pad;
     margin: 0;
     border-bottom: 1px solid #efeeee;
     .module {
          &__heading {
               margin: 0 0 25px 0;
               text-align: center;
               text-transform: capitalize;
               font-family: $font--bariolbold;
               font-size: 2em;

          }
     }
}