@media screen and ( max-width: 768px ) {

    #top-header .site-header .navbar ul li {
        display: block;
        margin: 0;
        background: #f1f1f1;
        
    }
    #top-header .site-header .navbar ul li a {
        display: block;
        padding: 8px 16px;
        margin-top: -1px;
        background: #f1f1f1;
    }
    #testimonials .slick-next {
    	right: 0;
    }
    #testimonials .slick-prev {
    	left: 0;
    }

    #other-projects {
              a {
                  display: block;
                  margin-bottom: 10px;
              }
    }
    #next-step {
          a {
              display: block;
              margin-bottom: 10px;
          }
        
    }

    
}